---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: heading
  label: CONTENT
- type: directory
  path: content/author
  label: Authors
  create: documents
  match: "**/*"
  templates:
  - author
- type: directory
  path: content/blog
  label: Blog
  create: documents
  match: "**/*"
  templates:
  - blog
- type: directory
  path: content/pages
  label: Pages
  create: documents
  match: "**/*"
  templates:
  - pages
- type: heading
  label: CONFIG
- type: document
  path: config/site.config.json
  label: Site Config
- type: document
  path: config/menus.json
  label: Menus
upload_dir: ''
public_path: ''
front_matter_path: https://res.cloudinary.com/antonio-nardini/image/upload
use_front_matter_path: true
file_template: ":filename:"
build:
  preview_output_directory: ".next"
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run dev
